* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.boldText {
    font-weight: bold;
}

/*header's style*/

header {
    width: 100%;
    height: 78px;
    background-color: #232324;
    position: relative;
}

.headerLogo {
    border: 1px solid lightblue;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
}

.headerLogo a {
    height: 100%;
    float: right;
    text-transform: uppercase;
    font-family: Monserrat, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fefefe;
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
}

.headerLogo a p {
    display: flex;
    line-height: 17px;
}

.headerLogo__icon {
    width: 18px;
    height: 100%;
    background: url(/Home/pics/icons.png);
}

nav {
    float: right;
    border: 1px solid yellow;
    box-sizing: border-box;
    height: 100%;
}

.navigation {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-items{
    color: #fefefe;
    display: block;
    border: 1px solid white;
    box-sizing: border-box;
    margin-left: -1px;
    padding: 29px 0;
}
